@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: #DC4A2D;

  --bg-primary: #fff;
  --bg-secondary: #FCFCFC;
  --bg-ghost: #FEF4F2;

  --text-black-900: #3D3D3D;
  --text-black-800: #5D5D5D;
  --text-black-700: #4F4F4F;
  --text-black-600: #344054;
  --text-black-500: #888888;
  --text-black-400: #6E6D6D;
  --text-black-300: #b0b0b0;
  
  --text-green-100: #067647;
  --text-green-200: #17B26A;
  --text-green-300: #ABEFC6;

  --border-100: #E7E7E7;
  --border-200: #D1D1D1;
  --border-300: #FCB4A5;
  --border-400: #FED3CA;
}

html,
body {
  height: 100%;
}